# dependencies
/node_modules
/.pnpm-store

# testing
/coverage

# next.js build outputs
/.next/
/out/

# production
/build
/dist

# misc
.DS_Store
*.pem
*.log

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files (SECRETS & API KEYS)
.env
.env*.local
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel & build caches
.vercel
*.tsbuildinfo
